@charset "UTF-8";

body {
	width: 950px;
	margin: auto;
	font-family: "Helvetica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
	background-color: #E3E3E3;
}

.navlinks {
	font-size: 40px;
	text-align: right;
}	
	

/* Y U NO WORK???? */
.navlinks{
	text-align: right;
}

/* link = normaltillstånd, visited = en besökt länk */
.navlinks a:link, .navlinks a:visited{
	text-decoration: none; /* Ingen understrykning */
	color: #000; 
}
/* focus = när man tabbat till länken, hover = när man håller musen över länken*/
.navlinks a:focus, .navlinks a:hover{
	/* text-decoration: none */
	/* color: #A62F00; */

	font-weight:none;
	color:#FFFFFF;
	/* background-color:#98bf21; */
	background-color: #9FB46C;
	width:80px;
	text-align:center;
	padding:0px;
	text-decoration:none;
}

/*active = när man håller ner musknappen på länken */
.navlinks a:active {
	/* text-decoration: */  
}

footer > p {
	font-size: 32px;
}

hr {
	color: #9FB46C;
}


