@charset "UTF-8";

body {
	width: 950px;
	margin: auto;
	font-family: "Helvetica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
	background-color: #E3E3E3;
}

header{


}




/* nav {
	font-size: 40px;
	text-align: right;
	
}	

*/

nav:first-of-type {
	position: relative;
	right: 0px;
	text-align: right;
	
}	

/* Y U NO WORK???? */

/* link = normaltillstånd, visited = en besökt länk */
nav a:link, nav a:visited{
	text-decoration: none; /* Ingen understrykning */
	color: #000; 
}
/* focus = när man tabbat till länken, hover = när man håller musen över länken*/
nav a:focus, nav a:hover{
	/* text-decoration: none */
	/* color: #A62F00; */

	font-weight:none;
	color:#FFFFFF;
	/* background-color:#98bf21; */
	background-color: #9FB46C;
	width:80px;
	text-align:center;
	padding:0px;
	text-decoration:none;
}

/*active = när man håller ner musknappen på länken */
nav a:active {
	/* text-decoration: */  
}

footer > p {
	font-size: 32px;
}

hr {
	color: #9FB46C;
}


